In [2]:
import pandas as p

In [4]:
#file=p.ExcelFile('CT_anotaciones_exportado.xlsx')
file=p.ExcelFile('CT_anotaciones.xlsx')
data=p.read_excel(file,0)
data1=p.read_excel(file,1)
file.close()

In [5]:
data.iloc[1][:]

email                aandres034@ikasle.ehu.eus
Apellido1                               ANDRES
Apellido2                            ANSAGASTI
Nombre                                     ANE
Grado                                       IE
Lengua                              Castellano
Sexo                                     Mujer
Primera matrícula                    2019/2020
Última matrícula                            --
Observaciones                              NaN
Name: 1, dtype: object

In [6]:
#data.loc[data['Unnamed: 0'] == 'aakordagoitia001@ikasle.ehu.eus']
len(data.loc[data['Sexo'] == 'Mujer'])/(len(data.loc[data['Sexo'] == 'Mujer']) +len( data.loc[data['Sexo'] == 'Hombre']))*100

25.0

In [7]:
data1.loc[data1['email'] == 'darancon001@ikasle.ehu.eus']
data1.loc[data1['email'] == 'darancon001@ikasle.ehu.eus']['Calificación']

0    2.0
Name: Calificación, dtype: float64

In [8]:
sum([ii[1] for ii in (data1.loc[data1['email'] == 'mbasauri002@ikasle.ehu.eus']['Calificación']).items()])/(len(data1.loc[data1['email'] == 'mbasauri002@ikasle.ehu.eus']['Calificación'])*1.0)

7.0

In [9]:
data1

,email,CT,RA,ND,Asignatura,Fecha,Evaluación,Calificación
0,darancon001@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,5a - Conocer la terminología,Nivel 1,26841 - Dispositivos Electrónicos y Optoelectr...,2019-07-16,Continua,2.0
1,raseguinolaza001@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,2b - Analizar y sintetizar la información,Nivel 3,26633 - Electrónica,2019-07-17,Final,10.0
2,mbasauri002@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,2a - Utilizar fuentes de información,Nivel 2,26662 - Fundamentos de Programación,2019-07-18,Continua,5.0
3,mbasauri002@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,2c - Construir conocimiento,Nivel 3,25138 - Komunikazioa Euskaraz: Zientzia eta Te...,2019-07-19,Continua,9.0
4,ynieto003@ikasle.ehu.eus,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [10]:
(data1[:-1]).describe(include='all')

,email,CT,RA,ND,Asignatura,Fecha,Evaluación,Calificación
count,4,4,4,4,4,4,4,4.000000
unique,3,1,4,3,4,4,2,NaN
top,mbasauri002@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,5a - Conocer la terminología,Nivel 3,26841 - Dispositivos Electrónicos y Optoelectr...,2019-07-19 00:00:00,Continua,NaN
freq,2,4,1,2,1,1,3,NaN
first,NaN,NaN,NaN,NaN,NaN,2019-07-16 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2019-07-19 00:00:00,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.696846
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.250000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000

In [11]:
(data1[:-1]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
email           4 non-null object
CT              4 non-null object
RA              4 non-null object
ND              4 non-null object
Asignatura      4 non-null object
Fecha           4 non-null datetime64[ns]
Evaluación      4 non-null object
Calificación    4 non-null float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 336.0+ bytes

In [12]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [ ]:
@interact
def show_articles_more_than( column='Calificación', x=5):
    return data1.loc[data1[column] > x]

,email,CT,RA,ND,Asignatura,Fecha,Evaluación,Calificación
1,raseguinolaza001@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,2b - Analizar y sintetizar la información,Nivel 3,26633 - Electrónica,2019-07-17,Final,10.0
3,mbasauri002@ikasle.ehu.eus,CT2 - Capacidad de aprendizaje,2c - Construir conocimiento,Nivel 3,25138 - Komunikazioa Euskaraz: Zientzia eta Te...,2019-07-19,Continua,9.0

In [ ]:
tmp=[(data['email'][:].__array__()[ii],ii) for ii in range(0,len(data['email'][:].__array__()))]

"""
widgets.Dropdown(
    options=[('One', 1), ('Two', 2), ('Three', 3)],
    value=2,
    description='Number:',
)
@interact
def show_articles_more_than( column='Calificación', x=5):
    return data1.loc[data1[column] > x]

"""
def f(x):
    display(data.iloc[x][:])
    return None

interact(f, x=widgets.Dropdown(    options=tmp,
    value=0,
    description='Email:',
));

email                aakordagoitia001@ikasle.ehu.eus
Apellido1                               AKORDAGOITIA
Apellido2                                   ARZANEGI
Nombre                                         ANDER
Grado                                             IE
Lengua                                       Euskera
Sexo                                          Hombre
Primera matrícula                          2018/2019
Última matrícula                                  --
Observaciones                                    NaN
Name: 0, dtype: object